<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Página sin sentido</h1>
      {% load static %}
      <div class="headerTitle">
        <h1>Actualizar datos de {{ form.nombre.value }}</h1>
        <img src="{% static 'core/img/loguito.png'%}" alt="" />
      </div>
      <div class="formLogin">
        <form action="" method="post" id="formFromLogin">
          {% csrf_token %}
          <div class="form-group">{{ form.as_p}}</div>
          <button type="submit" value="Modificar">Actualizar</button>
        </form>
        <button type="submit" value="Eliminar">
          <a href="{% url 'eliminarUsuario' form.email.value %}"> Eliminar Usuario </a>
        </button>
        <button><a href="/">Cerrar Sesión</a></button>
        <div>{{ mensaje }}</div>
      </div>
    </div>
  </body>
</html>
